doctype html
html
  head
    title ZINE
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main
      .container
        .header
          .title
            a(href='/')
              h1 The Zine
        block content
