extends ./../layout

block content
  each article in articles
    .article
      .article_head
        a(href='/articles/#{article._id}')
          h2= article.title
      .excerpt
        p= article.excerpt
  a.new_article(href='/articles/new') Create a New Article
