body {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.png');
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 40px;
}
h2 {
  text-shadow: 1px 1px 1px grey;
}
a {
  text-decoration: none;
  color: inherit;
}
.hidden{
  display: none;
}
a:hover h2{
  text-decoration: underline;
}
.new_article{
  color: white;
  margin: 15px 0px;
}
.edit {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 20%;
}
.article {
  margin-top: 20px;
}
.articletitle{
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.article_head{
  padding: 10px;
  background-image: url('/images/default_title.png');
}
.dark_background{
  background-image: url('/images/default_title_dark.png');

}
.light_background{
  background-image: url('/images/default_title.png');
}
.excerpt {
  background-color: white;
  padding: 10px;
}
.header {
  display: block;
  text-align: right;
  height: 130px;
  background-image: url('/images/header.jpeg');
  padding: 20px;
}
.title {
  display: inline-block;
  margin-top: 40px;
  vertical-align: middle;
}
.content {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.row {
  display: block;
  margin: 10px 0;
}

.col4 {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.col8 {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.newform {
  border-top: 1px solid grey;
}

.deletebutton {
  background-color: red;
  border: 2px solid maroon;
  color: white;
}

.error, .error_list {
  color: red;
}

.light {
  color: white;
}
